@model Mandalorian.Models.ViewModels.ListaMisiones

@{
    ViewData["Title"] = "Misiones";
}

<h1>Misiones</h1>

@using (Html.BeginForm("Detalles", "Home", FormMethod.Post))
{
    <select name="Misiones">
    @foreach (Misiones mision in Model.getListaMisiones())
    {
        <option>@mision.Titulo</option>
    }
    </select>
    <button type="submit" action="GuardarPersona">Guardar</button>
}