@using Mandalorian.DAL;

@{
    ViewData["Title"] = "Misiones";
}

<h1>Misiones</h1>

@using (Html.BeginForm("Detalles", "Home", FormMethod.Post))
{
    <select name="Id">
        @foreach (Misiones mision in ListaMisiones.getListaMisiones())
        {
        <option value="@mision.Id">@mision.Titulo</option>
    }
    </select>
    <button type="submit" action="Detalles">Ver detalles</button>
}